<h1> New transaction </h1>
<%= form_for @transaction do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>  
  </div>
  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount, step: :any %>  
  </div>
  <div>
    <%= f.label :category %>
    <%= f.select(:category_id, @categories) %>  
  </div>
  <div>
    <%= f.label "expense/income" %>
    <%= f.select(:transaction_type, ["expense","income"]) %>  
  </div>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>  
  </div>
  <div>
    <%= f.submit "Save transaction" %>  
  </div>
<% end %>